.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.login{
  margin-left: 10px;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}
.menu-area{
  display: flex;
  justify-content: center;
}

.search-area{
  position: relative;
  margin-left: 30px;
}

.input-box {
  border: none; /* 기본 테두리를 제거합니다. */
  border-bottom: 1px solid #ced4da; /* 밑줄 테두리를 추가합니다. */
  padding: 1px; /* 내부 여백을 추가하여 텍스트와 입력 상자의 경계를 정의합니다. */
  padding-left: 30px;
  width: 70%; /* 부모 요소의 100% 폭을 사용하도록 설정합니다. */
  font-size: 1rem; /* 텍스트 크기를 설정합니다. */
  outline: none; /* 포커스된 상태에서의 테두리를 제거합니다. */
}

/* 포커스된 상태에서의 밑줄 색상을 변경할 수 있습니다. */
.input-box:focus {
  border-bottom-color: blue; /* 포
  커스된 상태에서의 밑줄 색상을 파란색으로 변경합니다. */
}

.search-icon{
  position: absolute; /* 아이콘을 절대 위치로 설정합니다. */
  left: 1px; /* 아이콘의 위치를 조정합니다. */
  color: gray; /* 아이콘 색상을 지정합니다. */
}