body{
  font-family: sans-serif;
}

.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.login{
  margin-left: 10px;
}

.nav-section{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menu-area{
  display: flex;
  justify-content: center;
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 20px; 
  /* align-items: center; */
}

.menu-list{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin:0;
}

.menu-list li{
  padding: 10px;
}

.card{
  border:none !important;
  margin-bottom: 10px;
  
}

.card-img{
  display: flex;
  justify-content: center;
  width: 100%;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.search-area {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}


.search-area input {
  border:none;
  margin-left:5px;
}

.search-area input:focus {
  outline:none;
  border-bottom-color: blue;
}


.search-icon{
  position: absolute; /* 아이콘을 절대 위치로 설정합니다. */
  left: 1px; /* 아이콘의 위치를 조정합니다. */
  color: gray; /* 아이콘 색상을 지정합니다. */
}

.product-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.product-img{
  display: flex;
  justify-content: flex-end;
  height: 500px;
  width: 100%;
}



.product-detail-title{
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  margin-top: 10px
}

.product-detail-price{
  font-size: 30px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 10px
}

.product-detail-choice{
  font-size: 10px;
  font-family: 'Arial', sans-serif;
  margin-top: 10px;
}
.product-detail-button{
  margin-top: 10px;
}
.product-detail-add{
  background-color: black;
  width:50%;
  margin-top: 10px;
  text-align: center;
}

.sidebar{
  width:300px;
  height:100%;
  background: #222;
  position: fixed;
  top:0;
  left: -300px;
  z-index: 1;
  transition: all .35S;
}
input:checked + laber + div{
  left:0;
}

.burger-menu{
  margin-left: 20px;
}

.hide{
  visibility:hidden
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu-list {
    display: none;
  }
  .search-area{
    display: none;
  }
  .product-detail-add{
    background-color: black;
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
}

.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}
.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 